{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Calculator</title>
        
        <!-- Link to Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@300&display=swap" rel="stylesheet">
        
        <!-- Link to your CSS file -->
        <link rel="stylesheet" href="{% static 'myapp/css/styles.css' %}">
    </head>
    

<body>
    <div class="container">
        <div class="calculator">
            <h1>CALCULATOR</h1>
            <input type="text" id="display" class="display" disabled />
            <div class="buttons">
                <button class="btn" onclick="appendNumber('7')">7</button>
                <button class="btn" onclick="appendNumber('8')">8</button>
                <button class="btn" onclick="appendNumber('9')">9</button>
                <button class="btn" onclick="appendOperator('/')">/</button>

                <button class="btn" onclick="appendNumber('4')">4</button>
                <button class="btn" onclick="appendNumber('5')">5</button>
                <button class="btn" onclick="appendNumber('6')">6</button>
                <button class="btn" onclick="appendOperator('*')">*</button>

                <button class="btn" onclick="appendNumber('1')">1</button>
                <button class="btn" onclick="appendNumber('2')">2</button>
                <button class="btn" onclick="appendNumber('3')">3</button>
                <button class="btn" onclick="appendOperator('-')">-</button>

                <button class="btn" onclick="appendNumber('0')">0</button>
                <button class="btn" onclick="appendOperator('.')">.</button>
                <button class="btn" onclick="calculate()">=</button>
                <button class="btn" onclick="appendOperator('+')">+</button>

                <button class="btn" onclick="clearDisplay()">C</button>
            </div>
        </div>
    </div>

    <!-- Linking the JS file -->
    <script src="{% static 'myapp/js/scripts.js' %}"></script>
</body>
</html>
